@use "../../style/index.scss" as *;

.tasks_wrapper {
  @include flex_style(column);
  gap: 15px;

  h2{
    @include text_style($f_color:$sub_text_color, $f_weight: 600, $f_size:30px);
  }
}

.tasks_list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .task_info{
    @include flex_style();
    gap: 10px;
  }
  li {
    @include flex_style();
    @include flex_items_pos($j_content: space-between);
    padding: 5px 0 5px 0;
    list-style-type: none;
    gap: 5px;
    border-bottom: 1px solid #000;

    span{
      @include text_style($f_color:$sub_text_color, $f_weight:600);
    }

    p{
      @include text_style($f_color:$sub_text_color);
      overflow: auto;
      word-wrap: break-word;
    }

    button{
      background-color: #e52020;
      @include element_style($m_height: 30px);
      background-image: url("../../assets/delete_icon.svg");
      min-width: 30px;
      background-repeat: no-repeat;
      background-position: center;
    }

    button:hover{
      background-color: #8c1515;
    }
  }
}
